{% extends 'base.html' %}
{% load static %}

{% block title %}
project
{% endblock %}

{% block content %}
<div class="second-page-heading">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>

  <div class="more-info reservation-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-phone"></i>
            <h4>قم بالتواصل معناء </h4>
            <a href="#"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-envelope"></i>
            <h4>احصل على تمويل ومساهمين لمشروعك</h4>
            <a href="#"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <i class="fa fa-map-marker"></i>
            <h4>قم برفع مشروعك من اي مكان </h4>
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="weekly-offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>اسعار باقات الاعلان عن مشروعك</h2>
            <p style="font-size: larger;">قم بالاشتراك في الباقات للترويج لمشروعك لوصولة لاكبر عدد من المستثمرين </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-weekly-offers owl-carousel">
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-01.jpg" alt="">
                <div class="text">
                  <h4>Havana<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/person</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="reservation.html">Make a Reservation</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-02.jpg" alt="">
                <div class="text">
                  <h4>Kingston<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/person</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="project.html">Make a project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-03.jpg" alt="">
                <div class="text">
                  <h4>الباقة الذهبية <br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/النوع</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="project.html">Make a project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-01.jpg" alt="">
                <div class="text">
                  <h4>Havana<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/person</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="project.html">Make a project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-02.jpg" alt="">
                <div class="text">
                  <h4>Kingston<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/person</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="project.html">Make a project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="assets/images/offers-03.jpg" alt="">
                <div class="text">
                  <h4>George Town<br><span><i class="fa fa-users"></i> 234 Check Ins</span></h4>
                  <h6>$420<br><span>/person</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>Deal Includes:</li>
                    <li><i class="fa fa-taxi"></i> 5 Days Trip > Hotel Included</li>
                    <li><i class="fa fa-plane"></i> Airplane Bill Included</li>
                    <li><i class="fa fa-building"></i> Daily Places Visit</li>
                  </ul>
                  <div class="main-button">
                    <a href="project.html">Make a project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--من هنا-->
  <div class="amazing-deals">
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="col-lg-6 col-sm-6" style=" background-color: #ddd6d6; margin-bottom: 20px;">
          <div class="card h-100" style="margin-bottom: 20px;">
            <div class="row" style="padding: 10px;">
              <div class="col-lg-6">
                {% if project.image %}
                <div class="image" style="background-image: url('{{ project.image.url }}'); background-size: cover; background-position: center center; height: 300px;"></div>
                {% endif %}
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content" style="direction: rtl; padding-bottom: 5%;">
                  <span class="info" style="color: #0094f7; font-size: 20px;">اسم المشروع: {{ project.title }}</span>
                  <h4 style="padding-top: 10%; font-size: 20px;">سعر المشروع: {{ project.cost }}</h4>
                  <div class="row" style="color: #0077ff;">
                    <div class="col-12">
                      <i class="fa fa-clock" style="font-size: 20px;"></i>
                      <span class="list" style="font-size: 20px;">وصف المشروع: {{ project.category }}</span>
                    </div>
                    <div class="col-12">
                      <i class="fa fa-map" style="font-size: 20px;"></i>
                      <span class="list" style="font-size: 20px;">عنوان المشروع: {{ project.address }}</span>
                    </div>
                    <div class="col-12">
                      <i class="fa fa-map" style="font-size: 20px;"></i>
                      <span class="list" style="font-size: 20px;">موقع المشروع: {{ project.details }}</span>
                    </div>
                  </div>
                  <p style="font-size: 16px; padding-top: 20px;">معلومات المشروع: {{ project.discripe }}</p>
                  <div class="main-button" style="padding-top: 20px;">
                    <a href="{% url 'promoreq' project.id %}">الاعلان على المشروع</a>
                    <a href="{% url 'edit' project.id %}">تعديل</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!--الى هنا-->
  
  
  
  
  

  </div>
   
    <style>
      /* تنسيق الديف */
      .my-container {
        text-align: center; /* لتوسيط الزر داخل الديف */
      }



      
      
      
       .my-button:hover {
        background-color: #cccaca; /* لون الخلفية (أحمر غامق) عند التحويل */
        border-color: #000000; /* لون الحدود (أحمر غامق) عند التحويل */
      }
    </style>
  
    <!-- الديف الذي يحتوي على الزر -->
    <br> <br> <br>
   
    

  {% endblock %}